.navbar {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;

  /* must have: */
  height: 75px;
  width: 100%;
}

.leftNavBar {
  display: flex;
  width: 20%;
  justify-content: flex-start;
  margin-left: 10px;
}
.leftNavBar p {
  font-weight: bold;
}

.rightNavBar {
  display: flex;
  width: 400px;
  justify-content: flex-end;
  margin-right: 10px;
  justify-content: space-between;
}
